.avocat {
    overflow: hidden;
    width: 100%;
    height: 30rem;
    display: flex;
    background-image: url("../assets/saoult_bg_arbre_full.jpg");
    background-position-y: 50%;
    background-size: cover;
    position: relative;
}

.avocat-text {
    flex: 1;
    width: 100%;
    padding: 0 0 0 2rem;
    z-index: 1;
    font-size: larger;
    position: relative;
    top: 40%;
}