* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  p {
    font-family: 'Josefin Sans', sans-serif;
  }
  