@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Comic Sans MS';
    src: url("../assets/comicb.ttf");
}

:root {
    --color-dark: #2D2424;
    --color-main-light: #A55540;
    --color-main: #5C3D2E;
    --color-light: #E79A58;
    --color-white: #E1D5D2;
    --color-gray: #4B4A5A;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

*:any-link {
    color: var(--color-light);
}

h1,
h2,
h3 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.italic {
    font-style: italic;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.btn {
    border-radius: .25rem;
    color: black;
    background-color: var(--color-white);
    font-weight: 800;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s ease 0s;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: var(--color-light);
    color: var(--color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.black-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 99;
    display: none;
}

@media screen and (min-width: 700px) {
    .block {
        background-color: var(--color-main-light);
        width: 100%;
        height: auto;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: relative;
    }
}

@media screen and (max-width: 700px) {
    .block {
        background-color: var(--color-main-light);
        width: 100%;
        height: auto;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: relative;
        flex-direction: column;
        overflow: clip;
    }
}