#navbar_padding {
    padding: 2.5rem;
}

#navbar_logo-container {
    height: 5rem;
    width: 5rem;
    display: flex;
    position: fixed;
    right: 5rem;
}

.navbar_logo {
    height: 5rem;
}

@media screen and (min-width: 800px) {
    #navbar_component {
        align-items: center;
        display: flex;
        height: 5rem;
        padding: 0 5rem;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--color-light);
        z-index: 3;
        overflow: initial;
    }

    #navbar_text-container {
        font-family: 'Josefin Sans', sans-serif;
        position: fixed;
        display: block;
    }

    #navbar_text-container li {
        border-radius: 4px;
        display: inline-block;
        padding: 1rem 0;
        transition: all .3s ease 0s;
    }

    #navbar_menu {
        display: none;
    }

    .navbar_dropdown {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.75);
        top: 5rem;
        backdrop-filter: blur(16px);
        border-radius: .25rem;
        box-shadow: 0 8px 16px rgba(136, 93, 12, 0.15);
        flex-direction: column;
        float: none;
        justify-content: center;
        position: absolute;
        width: 15rem;
        overflow: initial;
        display: none;
        z-index: 10;
    }

    .navbar_menu-close{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #navbar_component {
        align-items: center;
        display: flex;
        height: 5rem;
        padding: 0 2.5rem;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--color-light);
        z-index: 11;
        overflow: initial;
    }

    #navbar_text-container {
        font-family: 'Josefin Sans', sans-serif;
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--color-white);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        z-index: 100;
        padding-left: 1.5rem;
        padding-right: 0.25rem;
        height: 100%;
        display: none;
    }

    #navbar_text-container li {
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        transition: all .3s ease 0s;
    }

    #navbar_menu svg{
        font-size: 50px;
        color: var(--color-dark);
        transition: all .3s ease 0s;
    }

    #navbar_menu svg:hover{
        color: var(--color-main);
    }

    .navbar_menu-close svg{
        font-size: 50px;
        color: var(--color-dark);
        transition: all .3s ease 0s;
    }

    .navbar_menu-close svg:hover{
        color: var(--color-main);
    }

    .navbar_dropdown {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.75);
        left: 14rem;
        backdrop-filter: blur(16px);
        border-radius: .25rem;
        box-shadow: 0 8px 16px rgba(136, 93, 12, 0.15);
        flex-direction: column;
        float: none;
        justify-content: center;
        position: absolute;
        width: 15rem;
        overflow: initial;
        display: none;
        z-index: 11;
    }
}

#navbar_text-container a,
button {
    border-radius: .25rem;
    color: black;
    font-weight: 800;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s ease 0s;
}

#navbar_text-container a:hover {
    transform: translateY(-2px);
    background-color: rgba(255, 255, 255, 0.75);
    color: var(--color-main);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar_dropdown a {
    border-radius: 0 !important;
    width: 100%;
}

.navbar_dropdown a:hover {
    transform: translateX(5px) !important;
    background-color: var(--color-light) !important;
    color: var(--color-white) !important;
}

.navbar_menu-close-btn:hover{
    transform: translateY(-1px) !important;
    background-color: rgba(255, 255, 255, 0)!important;
    box-shadow: none !important;
}