#navbar_component {
    align-items: center;
    display: flex;
    height: 5rem;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f5a122;
    z-index:2;
}

#navbar_logo-container {
    height: 5rem;
    width: 5rem;
    display: flex;
}

.navbar_logo {
    height: inherit;
}

#navbar_text-container {
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    right: 5rem;
}

#navbar_padding{
    padding: 2.5rem;
}