* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

.anim-text {
  display: none;
  opacity: 0;
}

.presentation {
  overflow: hidden;
  width: 100%;
  height: 30rem;
  display: flex;
  background-image: url("../assets/cabinet-avocats-900x601.jpeg");
  background-position-y: 100%;
  background-size: cover;
  position: relative;
}

.presentation-text{
  width: 100%;
  margin: 14rem 2rem;
  padding: 0 0 0 2rem;
  z-index:1;
}

.presentation-img {
  width: 100%;
  height: 100%;
  z-index:10;
}

.photosaoul {
    max-width: inherit;
    height: inherit;
    float: right;
    display: none;
    margin-top: auto;
}

.whiteband {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(16px);
  height: 10rem;
  top: 40%;
  z-index:0;
  position: absolute;
}