* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.presentation {
  overflow: visible;
  width: 100%;
  height: 100%;
}

.photosaoul {
    width: 30%;
    height: 30%;
    float: right;
    z-index:10;
    rotate: 0deg;
    margin-right: -30rem;
  }