* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.presentation {
  overflow: hidden;
  width: 100%;
  height: 30rem;
  display: flex;
}

.presentation-text {
  margin: 14rem 2rem;
  padding: 0 0 0 2rem;
  width: 100%;
}

.presentation-img {
  width: 100%;
  height: 100%;
}

.photosaoul {
    max-width: inherit;
    height: inherit;
    float: right;
    z-index:10;
    display: none;
    margin-top: auto;
  }