<nav id="navbar_component">
    <div id="navbar_text-container">
        <ul>
            <li>
                <a href="#0">Votre Avocat</a>
            </li>
            <li>
                <a href="#0">Droits Appliqués</a>
                <div class="navbar_dropdown">
                    <a href="#0">Droit Pénal</a>
                    <a href="#0">Droit des Affaires</a>
                </div>
            </li>
            <li>
                <a href="#0">Me Joindre</a>
                <div class="navbar_dropdown">
                    <a href="#0">Coordonées</a>
                    <a href="#0">Contact</a>
                </div>
            </li>
        </ul>
    </div>
    <div id="navbar_logo-container">
        <img class="navbar_logo" src="../assets/Logo.png"><img>
    </div>
</nav>
<div id="navbar_padding"></div>