<nav id="navbar_component">
    <div id="navbar_menu">
        <a class="navbar_menu-click" href="javascript:openMenu()">
            <span class="iconify" data-icon="mdi-menu"></span>
        </a>
    </div>
    <div id="navbar_text-container">
        <div class="navbar_menu-close">
            <a href="javascript:closeMenu()">
                <span class="iconify" data-icon="mdi-close"></span>
            </a>
        </div>
        <ul>
            <li>
                <a href="avocat">Votre Avocat</a>
            </li>
            <li>
                <a href="#0">Droits Appliqués</a>
                <div class="navbar_dropdown">
                    <a href="droits/penal.html">Droit Pénal</a>
                    <a href="droits/affaire.html">Droit des Affaires</a>
                </div>
            </li>
            <li>
                <a href="#0">Me Joindre</a>
                <div class="navbar_dropdown">
                    <a href="join/contact.html">Contact</a>
                    <a href="join/coordonees.html">Coordonées</a>
                </div>
            </li>
        </ul>
    </div>
    <div id="navbar_logo-container">
        <a id="navbar_logo-home">
            <img class="navbar_logo"><img>
        </a>
    </div>
</nav>
<div id="navbar_padding"></div>